body {
  padding-top: 50px;
}

thead {
	font-weight:bold;
}

/* ********************************************************************************/
/* Test Suite Result Styles */

.pass{
	color: green;
}

.fail{
	font-weight:bold;
	color: darkred;
}

/* ********************************************************************************/
/* Summary Graph Styles */
svg {
	font: 12px Arial;
}

path {
	stroke: steelblue;
	stroke-width: 2;
	fill: none;
}

.pass-path {
	stroke: green;
	stroke-width: 1;
}

.axis path, .axis line {
	fill: none;
	stroke: grey;
	stroke-width: 1;
	shape-rendering: crispEdges;
}

.grid .tick {
	stroke: lightgrey;
	opacity: 0.7;
}
.grid path {
	stroke-width: 0;
}

div.tooltip {
	position: absolute;
	padding: 5px;
	font: 12px sans-serif;
	background: white;
	border: 1px;
	border-style: solid;
	border-color: lightsteelblue;
	border-radius: 8px;
	pointer-events: none;
}

/* ********************************************************************************/
/* Compare Widget / Mouse Over Styles */
.custom-menu {
    display: none;
    z-index:1000;
    position: absolute;
    font: 12px sans-serif;
	background: white;
	border: 1px;
	border-style: solid;
	border-color: lightsteelblue;
	border-radius: 8px;
	opacity: 0.91;
}

.custom-menu li {
    padding: 5px;
}

.custom-menu li:hover {
    background-color: #DDD;
    cursor: pointer;
}

 

