@(message: String)

@main("rj8") {
    
    <script src="@routes.Assets.at("javascripts/index.js")"></script>

    <div class="well">
        <h1>@message</h1>
    </div>
    
    <ul>
        <li><a href="@routes.Application.syncFoo()">Run Spike 1 (Insert)</a></li>
        <li><button id="websocket-demo">Run Spike 2 (select into web socket)</button></li>
        <div id="results"></div>
        
        <!--
        <li><a href="@routes.Application.asyncFoo()">Async Foo</a></li>
        <li><a href="@routes.Application.asyncNonBlockingFoo()">Async Non-Blocking Foo</a></li>
        <li><a href="@routes.Application.reactiveRequest()">Reactive Request</a></li>
        <li><a href="@routes.Application.reactiveComposition()">Reactive Composition</a></li>
        -->
    </ul>
    
    <!-- 
    <button id="sse-demo">Connect to Server Sent Event Channel</button>
    
    <br/><br/>
    
    <button id="websocket-demo">Send WebSocket Message</button>
     -->
    

}
